
      <body data-gr-c-s-loaded="true" class="vsc-initialized" cz-shortcut-listen="true">
    <div class="container-fluid">
      <div class="row">
        <main role="main">
                <div class="album py-5 bg-light">
                  <div class="container">

                      <div class="row">
                          <div *ngFor="let data of allData">
                          <div class="col-md-12">
                        <div class="card mb-12 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">{{ data.first }}</h4>
                            <div class="text-center">
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20
                                    </button>
                                    </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>

                </div>
            </div>
                </main>
        
        
        
            </div>
          </div>
          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js"></script>
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
                  <script src="dashboard.js"></script>
          
          </body>





<!-- 






                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
              
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                          <div class="card-body text-center">
                            <h4 class="card-text">Product Name

                            </h4>
                            <div class="text-center">
                              <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Rent: $10/day</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy: $20

                                </button>
                              </div>
                              

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
               -->
