<div class="container">
  <div class="card">
    <div class="card-header">
      <img
        class="d-block mx-auto"
        style="max-width: 30%;"
        src="{{ item.image }}"
        alt=""
      />
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card-body">
          <h1 class="display-4 card-header-danger">{{ item.name }}</h1>
          <hr />
          <h3>Posted {{ item.createdAt }}</h3>
          <h4>{{ item.condition }}</h4>
          <h5>
            <a href="#">{{ item.location }}</a>
          </h5>
          <div style="height: 340px;" id="map"></div>
          <hr />
          <p>
            {{ item.description }}
          </p>
        </div>
      </div>
      <div *ngIf="item.isSell == true" class="col-4">
        <div class="card mt-3">
          <div class="card-header">
            <h4 class="text-center">
              <a style="color: black;" href="">Jared</a>
            </h4>
          </div>
          <div class="card-body">
            <a class="d-block text-center btn-lg btn-primary" href=""
              >Buy for ${{ item.sellPrice }}</a
            >
          </div>
        </div>
      </div>
      <div *ngIf="item.isLend == true" class="col-4">
        <div class="card mt-3">
          <div class="card-header">
            <h4 class="text-center">
              <a style="color: black;" href="">Jared</a>
            </h4>
          </div>
          <div class="card-body">
            <a class="d-block text-center btn-lg btn-primary" href="">
              Rent for ${{ item.lendPrice }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
